@import '../theme/theme.scss';
@import '../theme/variable.scss';

.content{
    @include border();
    border-radius: 10px;
    display: flex;
    min-height: 600px;  
   
    &__howI{
        width: 70%;
        padding: 1em;
        &__tabs{
            display: flex;
            justify-content: center;
            .tab{
                min-width: 50px;
                border-bottom:2px solid $secondaryColorTwo;
                margin: 2px;
                padding: 2px 5px;
    
                text-align: center;
            }
    
            .tab.active{
                font-weight: bold;
                border-bottom:2px solid $secondaryColor;
            }
            
        }
    }

    &__contact{
        width: 30%;
        border-left:1px solid $secondaryColorTwo;
    }
}