@import '../theme/theme.scss';
@import '../theme/variable.scss';

.content{
     display: flex;
     justify-content: space-between;
     flex-flow: row wrap-reverse;
     
    &__skill{
        @include border();
        width: 35%;
        min-width: 300px;
        
    }

    &__project{
        @include border();
        width: 65%;
        min-width: 300px;
    }
}

@media only screen and (max-width: 1050px){
    .content{
        &__skill, &__project{
            padding: 1.5em 4em;
            width: 100%;
        } 
    }
}