@import '../theme/theme.scss';
@import '../theme/variable.scss';

.content{
     display: flex;
     justify-content: space-between;
     flex-flow: row wrap-reverse;
     
    &__skill{
        @include border();
        width: 30%;
        min-width: 300px;
        
    }

    &__project{
        flex-shrink: 4;
        @include border();
        width: 70%;
        min-width: 300px;
    }
}

@media only screen and (max-width: 1000px){
    .content{
        &__skill, &__project{
            padding: 1.5em 4em;
            width: 100%;
        } 
    }
}