@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Satisfy&display=swap');


$primaryColor:white;
$secondaryColor:black;
$bgColor:#F8F6F4;

$quoteFont: 'Satisfy', cursive;
$primaryFont:
