@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Satisfy&display=swap');


$primaryColor:white;
$secondaryColor:black;
$secondaryColorTwo:rgba($color: $secondaryColor, $alpha: 0.5);
$primaryColorTwo:#EFEAD8;
$bgColor: rgba($color: #EFEAD8, $alpha: 0.2);

$quoteFont: 'Satisfy', cursive;
$primaryFont:'PT Sans', sans-serif;

$smallFontSize:1.2rem;
$mediumFontSize:1.5rem;
$largeFontSize:2rem;
