@import '../../theme/variable.scss';
@import '../../theme/theme.scss';

.skills{
    &__title{
        text-align: center;
    }

    &__content{
        list-style: none;
        padding: 0px;
        display: flex;
        flex-flow: row wrap;
    }
}

@media only screen and (min-width: 1000px){
    .skills{
        padding: 1.5em 4em;
    }
}