@import '../../theme/variable.scss';
@import '../../theme/theme.scss';

.projects{
    &__title{
        text-align: center;
    }
}

.project{
   &__heading{
    max-width: 300px;
    &__projectName{
        display: flex;
        flex-flow: row;
        align-items: center;
        &__link{
            color: $secondaryColor;
            padding: 10px;
            text-decoration: none;
        }
    }
    &__designation{
        color: $secondaryColorTwo;
        margin: 10px;
    }
   }
   &__content{
    &__detail{
        margin: 10px;
        list-style:none ;
        font-style: italic;
    }
}
}

@media only screen and (min-width: 1000px){
    .projects{
        padding: 1.5em 4em;
    }
}